@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.33em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.83em;
  }
}
